<div class="card">
    <h4 class="card-header">COE Enrollment Form
    </h4>
    
    <div class="card-body">
        <form [formGroup]="ordersForm">
            <div class="form-group col-md-4">
                <label for="name">Name</label>
                <input type="text" formControlName="name" class="form-control">
            </div>
            
           
            <div class="form-group col-md-4">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control">
            </div>
            <div class="form-group col-md-12">
                <label for="course">Which COE do you want to enroll?</label>
                <div class="radio" *ngFor="let sm of courses">
                    <input type="radio"  formControlName="course" value="{{sm.name}}">
                    <label for="course"> &nbsp;{{sm.value}}</label><br>

              </div>
            </div>

            <div *ngIf="result" class="alert alert-danger mt-3 mb-0">{{result}}</div>
        
            <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
            </button>
           
           
        </form>
        
    </div>
   
</div>
   